/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/_docker/db/.my-healthcheck.cnf
/_docker/db/aria_log.00000001
/_docker/db/aria_log_control
/_docker/db/ddl_recovery.log
/_docker/data/redis/dump.rdb
/_docker/db/ib_buffer_pool
/_docker/db/ib_logfile0
/_docker/db/ibdata1
/_docker/db/ibtmp1
/_docker/db/multi-master.info
/_docker/db/mysql_upgrade_info
/_docker/db-test/.my-healthcheck.cnf
/_docker/db-test/aria_log.00000001
/_docker/db-test/aria_log_control
/_docker/db-test/ddl_recovery.log
/_docker/db-test/ib_buffer_pool
/_docker/db-test/ib_logfile0
/_docker/db-test/ibdata1
/_docker/db-test/ibtmp1
/_docker/db-test/multi-master.info
/_docker/db-test/mysql_upgrade_info
